body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 50px;
  color: white;
}

.button-container {
  text-align: right; /* Changed to align to right */
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  border: none;
  background-color: #da4a37;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #267acc;
}

img {
  margin-top: 50px;
  max-width: 80%;
  max-height: 500px;
}
